
$bckg-theme1: linear-gradient(147.69deg, #E0E0E0 0%, rgba(196, 196, 196, 0.872312) 47.62%, rgba(106, 106, 106, 0.0104167) 99.52%);
$bckg-theme2: linear-gradient(144.78deg, #BE04FF -8.26%, rgba(0, 0, 0, 0.67) 68.62%);;
$bckg-theme3: linear-gradient(146.86deg, rgba(8, 240, 184, 0.81) 40.93%, rgba(1, 155, 155, 0) 163.53%);;

$form-ml: 50px;

body {
  margin: 0;

}

.background1 {
  background-image: url(./Images/bckg1.png);
  width: 100%;
  height: auto;
}

.background2 {
  background-image: url(./Images/bckg2.png);
  width: 100%;
  height: auto;
}

.background3 {
  background-image: url(./Images/bckg3.png);
  width: 100%;
  height: auto;
}

#register-panel {
  width: 660px;
  padding-bottom: 270px;
  padding-top: 5px;
  margin-left: 32.5%;

}

.theme1 {
  background: $bckg-theme1;
  animation: 1s ease-out 0s 1 smooth1;
}
.theme2 {
  background: $bckg-theme2;
  animation: 1s ease-out 0s 1 smooth2;
}
.theme3 {
  background: $bckg-theme3;
  animation: 1s ease-out 0s 1 smooth3;
}

.themeInput1 {
  background: #848484;
}

.themeInput2 {
  background: #D005E1;
}

.themeInput3 {
  background: #2EFDCB;
}

.themeButton1 {
  color: white;
}

.themeButton2 {
  color: #D005E1;
}

.themeButton3 {
  color: #2EFDCB;
}

@keyframes smooth1 {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1;
  }
}

@keyframes smooth2 {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1;
  }
}

@keyframes smooth3 {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1;
  }
}


.buttons {
  position: absolute;
  margin-left: 90%;
}

.buttons button {
  padding: 20px 20px;
  margin-left: 8px;
  margin-top: 8px;
  border-radius: 0.5em;
  border: none;
}

.buttons :nth-child(1) {
  background: linear-gradient(133.69deg, #000000 6.38%, #FFF0F0 100%);
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.buttons :nth-child(2) {
  background: linear-gradient(133.83deg, #D005E1 -2.92%, #2A2A2B 102.13%, #000000 102.13%);
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.buttons :nth-child(3) {
  background: linear-gradient(131.99deg, #08F0B8 14.89%, #19DADA 69.32%);
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.first-name {
  display: inline-block;
}
.last-name {
  display: inline-block;
}


.first-name input {
  margin-left: $form-ml;
  width: 250px;
  height: 45px;
  border-radius: 1em;
  border: none;
}
.last-name input {
  margin-left: $form-ml;
  width: 250px;
  height: 45px;
  border-radius: 1em;
  border: none;
}
.form input {
  margin-left: $form-ml;
  margin-top: 20px;
  width: 555px;
  height: 45px;
  border-radius: 1em;
  border: none;
}

.register-btn {
  margin-left: 450px;
  margin-top: 80px;
}

.register-btn button {
  width: 157px;
  height: 56px;
  border-radius: 2em;
  border: none;
  cursor: pointer;
  background: linear-gradient(106.83deg, #000000 1.48%, rgba(0, 0, 0, 0.43) 99.99%, rgba(0, 0, 0, 0) 100%);
  font-size: 24px;
}

.btn-radio {
  -ms-transform: scale(2.5); /* IE 9 */
  -webkit-transform: scale(2.5); /* Chrome, Safari, Opera */
  transform: scale(2.5);
  border: none;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  background-color: #848484;
  border-radius: 50%;
  z-index: 1 !important;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #848484;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: white;
}

.styling-bar {
  z-index: 0 !important;
  position: absolute;
  padding: 10px 55px;
  background: #848484;
  margin-top: -145px;
  margin-left: 280px;
}

.genders {
  position: absolute;
  margin-top: -130px;
  margin-left: 250px;
}

.genders p {
  display: inline-block;
}

h1 {
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

#icon {
  position: absolute;
  width: 144px !important;
  height: 144px !important;
  margin-top: 100px;
  margin-left: 480px;
}

.icon-color1 {
  color: black;
}

.icon-color2 {
  color: #D005E1;
}

.icon-color3 {
  color: rgb(35, 172, 140);
}